body{
  background-color:#eeeeee;
}
#mainContainer{
  width: 1000px;
  margin: 0 auto;
  padding: 5px;
}
h1,h2,h3{
  color: #00adb5;
}
img{
  border-radius: 100%;
}
.workExperience{
  background-color: #fafafa;
}
.footer{
  background-color: #fafafa;
}
hr{
  width: 10%;
  border-top-style: dotted ;
  border-bottom: none;
  border-top-width: 5px;
  border-color: #00adb5;
}
